# Application Configurations
# --------------------------
# Environment: Production
NODE_ENV='production'

# Server Configurations
# ---------------------
# Server Port
PORT=3000

# Database Configurations
DATABASE_HOST='your-production-db-host'
DATABASE_PORT=5432
DATABASE_NAME='your-production-db-name'
DATABASE_USERNAME='your-production-db-user'
DATABASE_PASSWORD='your-production-db-password'

# Required by TypeORM
PGHOST='your-production-db-host'
PGDATABASE='your-production-db-name'
PGUSER='your-production-db-user'
PGPASSWORD='your-production-db-password'
PGSSLMODE='require'

APP_URL='your-production-cdn-url'

MEDIA_DIR='tarket-bab-media'

#JWT
JWT_SECRET='your-production-jwt-secret'
JWT_EXPIRES_IN='10d'

#google Auth
GOOGLE_CLIENT_ID='your-google-client-id'
GOOGLE_CLIENT_SECRET='your-google-client-secret'
REDIRECT_URL_GOOGLE='your-production-callback-url'

#smtp host 
SMTP_HOST='your-smtp-host'
SMTP_USER='your-smtp-user'
SMTP_PASS='your-smtp-password'

#cloudflare config
CLOUDFLARE_BUCKET_NAME='your-bucket-name'
CLOUDFLARE_ACCOUNT_ID='your-account-id'
CLOUDFLARE_ACCESS_KEY_ID='your-access-key'
CLOUDFLARE_SECRET_ACCESS_KEY='your-secret-key'

# Tabby Payment Configuration
TABBY_API_URL='https://api.tabby.ai/api/v1'
TABBY_CHECKOUT_URL='https://api.tabby.ai/api/v2/checkout'
TABBY_SECRET_KEY='your-production-tabby-secret'
TABBY_PUBLIC_KEY='your-production-tabby-public'
BASE_URL='your-production-base-url'
TABBY_MERCHANT_CODE='default'
TABBY_WEBHOOK_SECRET='your-webhook-secret'

# Firebase Configuration
FIREBASE_PROJECT_ID='your-firebase-project-id'
FIREBASE_CLIENT_EMAIL='your-firebase-client-email'
FIREBASE_PRIVATE_KEY='your-firebase-private-key'

# Paylink Configuration
PAYLINK_API_URL='https://restpilot.paylink.sa/api'
PAYLINK_API_ID='your-paylink-api-id'
PAYLINK_SECRET_KEY='your-paylink-secret-key'
